{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Inspection Report View{% endblock %}</title>
{% block style %}

#table{
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    background-color:#F3F1DA;
    padding: 20px;
    border:4px solid black;
    color:black;
}


.table tbody tr:hover td, .table tbody tr:hover th {
    background-color:#67C699;
    cursor:pointer;
    }

.selected {
   background-color:#F3F1DA !important;
}
<!--.no-filter-control{
border-bottom: 3px solid black;
height:auto!important;
}

tr,th, td {
    border: 1px black;

}-->

{% endblock %}
</head>
<body>

	{% block main %}
	<div class="container" style="padding:0;">
	<div id="Notification area"></div>
	<h1 align="center" style="color:blue; font-weight:bold">Inspection Report List</h1>
	<br>
	<h5 style="font-weight:bold"> Note: Select a record to edit and also download the data using export data option</h5>


	<table id="table"
		data-search="true"
		data-pagination="true"
		data-show-refresh="true"
		data-show-columns="true"
		data-click-to-select="true"
		data-show-export="true"
		data-filter-control="true">
	</table>

	<button type="button" class="btn btn-primary btn-lg" id="Edit">Edit</button>
	<button type="button" class="btn btn-danger btn-lg" id="Delete">Delete</button>
	<div class="modal fade" id="Inspection_View_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
			  <div class="modal-content">
				  <div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel" style="float:left; font-weight:bold;">Edit this Inspection Record?</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
                    	<form class = "form-horizontal">
                    		<ul class="nav nav-pills nav-justified">
                    			<li role="presentation"  style="border-radius:5px;" class="active btn-warning"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Pasture Inspection</a></li>
                    			<li role="presentation" style="border-radius:5px;" class="btn-warning"><a href="#2" aria-controls="2" role="tab" data-toggle="tab">Building Inspection</a></li>
                    		</ul>
                    		<div class="tab-content">
                    			<div role="tabpanel" class="tab-pane fade in active" id="1" style="margin-top:15px;margin-left:50px; margin-right:50px;">
                    				<form class="form-horizontal" style="margin-top:15px;">
                    					<div class="form-group">
                    						<label for="pasture_number" class="control-label col-xs-2">Pasture Number</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="pasture_number"></select>
                    						</div>
                    						<label for="sub_pasture" class="control-label col-xs-2">Sub Pasture</label>
                    						<div class="col-xs-2">
                    						  <input type="text "class="form-control" id="sub_pasture" placeholder="Sub Pasture">
                    						</div>
                    						<label class="control-label col-xs-2" for="date">Date Inspected</label>
                    						<div class="col-xs-2">
                    						   <input class="date form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                    						</div>
                    					</div>
                    					<div class="form-group">
                    				        <label for="bulls" class="control-label col-xs-2">Bulls</label>
                    				        <div class="col-xs-2">
                    						  <input type="text "class="form-control" id="bulls" placeholder="Bulls">
                    						</div>
                    						<label for="cows" class="control-label col-xs-2">Cows</label>
                    				        <div class="col-xs-2">
                    						  <input type="text "class="form-control" id="cows" placeholder="Cows">
                    						</div>
                    						<label for="calf" class="control-label col-xs-2">Calf</label>
                    				        <div class="col-xs-2">
                    						  <input type="text "class="form-control" id="calf" placeholder="Calf">
                    						</div>
                    				    </div>
                    					<div class="form-group">
                    						<label for="general_appearance" class="control-label col-xs-2">General Appearance</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="general_appearance">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    						<label for="livestock" class="control-label col-xs-2">Livestock</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="livestock">
                    							<option>Present</option>
                    							<option>Absent</option>
                    						  </select>
                    						</div>

                    						<label for="animal_condition" class="control-label col-xs-2">Animal Condition</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="animal_condition">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    					</div>
                    					<div class="form-group">
                    						<label for="fencing" class="control-label col-xs-2">Fencing</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="fencing">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    						<label for="access_to_feed" class="control-label col-xs-2">Access To Feed/Food</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="access_to_feed">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    						<label for="access_to_water" class="control-label col-xs-2">Access To Water</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="access_to_water">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    					</div>
                    					<div class="form-group">
                    						<label for="water_cleanliness" class="control-label col-xs-2">Cleanliness of Water</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="water_cleanliness">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    						<label for="shed_access" class="control-label col-xs-2">Access to Shed/Shelter</label>
                    						<div class="col-xs-2">
                    						  <select class="form-control" id="shed_access">
                    							<option>Poor</option>
                    							<option>Fair</option>
                    							<option>Good</option>
                    							<option>Excellent</option>
                    						  </select>
                    						</div>
                    					</div>
                    					<div class="form-group">
                    						<label for="comments" class="control-label col-xs-2">Comments</label>
                    						<div class="col-xs-10">
                    							<input type="text" class="form-control" id="comments" placeholder="Comments">
                    						</div>
                    					</div>
                    					<div class="form-group">
                    						<label for="major_deficiencies" class="control-label col-xs-2">Major Deficiencies</label>
                    						<div class="col-xs-10">
                    							<input type="text" class="form-control" id="major_deficiencies" placeholder="Major Deficiencies">
                    						</div>
                    					</div>
                    					<div class="form-group">
                    						<label for="minor_deficiencies" class="control-label col-xs-2">Minor Deficiencies</label>
                    						<div class="col-xs-10">
                    							<input type="text" class="form-control" id="minor_deficiencies" placeholder="Minor Deficiencies">
                    						</div>
                    					</div>
                    					<div align="center">
                    					<button type="button" class="btn btn-primary" id="Inspection_Submit">Submit</button>
                    					</div>
                    				</form>
                    			</div>
                    			<div role="tabpanel" class="tab-pane fade" id="2">
                    				<div class="form-horizontal" style="margin-top:15px;">
                    					<form class="form-horizontal" style="margin-top:15px;margin-left:100px; margin-right:100px;">
                    						<div class="form-group">
                    							<label for="building_number" class="control-label col-xs-3">Building Number</label>
                    							<div class="col-xs-3">
                    								<input type="text" class="form-control" id="building_number" placeholder="Building Number">
                    							</div>
                    							<label class="control-label col-xs-3" for="date">Date Inspected</label>
                    							<div class="col-xs-3">
                    							   <input class="date form-control" id="date_building" name="date" placeholder="MM/DD/YYYY" type="text"/>
                    							</div>
                    						</div>
                    						<div class="form-group">
                    						<label for="general_appearance_building" class="control-label col-xs-3">General Appearance</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="general_appearance_building">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    							<label for="squeezechute_headcatch" class="control-label col-xs-3">Working Condition of sqeeze chute/Head Catch</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="squeezechute_headcatch">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    						</div>
                    						<div class="form-group">
                    							<label for="electrical_lighting" class="control-label col-xs-3">Electrical/Lighting</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="electrical_lighting">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    							<label for="housekeeping_cleanliness" class="control-label col-xs-3">Housekeeping or Cleanliness</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="housekeeping_cleanliness">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                							</div>
                    						<div class="form-group">
                    						    <label for="headcatch_exit" class="control-label col-xs-3">Evidence of non-slip surface for livesock exiting Head Catch</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="headcatch_exit">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    							<label for="pen_condition" class="control-label col-xs-3">Working Pen Conditions</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="pen_condition">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    						</div>
                    						<div class="form-group">
                    							<label for="sharp_disposal_containers" class="control-label col-xs-3">Evidence of sharp disposal container</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="sharp_disposal_containers">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    							<label for="drug_storage" class="control-label col-xs-3">Drug Storage</label>
                    							<div class="col-xs-3">
                    							  <select class="form-control" id="drug_storage">
                    								<option>Poor</option>
                    								<option>Fair</option>
                    								<option>Good</option>
                    								<option>Excellent</option>
                    							  </select>
                    							</div>
                    						</div>
                    						<div class="form-group">
                    							<label for="iacuc2_comments" class="control-label col-xs-3">Comments</label>
                    							<div class="col-xs-9">
                    								<input type="text" class="form-control" id="iacuc2_comments" placeholder="Comments">
                    							</div>
                    						</div>
                    						<div class="form-group">
                    							<label for="iacuc_major2_deficiencies" class="control-label col-xs-3">Major Deficiencies</label>
                    							<div class="col-xs-9">
                    								<input type="text" class="form-control" id="iacuc_major2_deficiencies" placeholder="Major Deficiencies">
                    							</div>
                    						</div>
                    						<div class="form-group">
                    							<label for="iacuc_minor2_deficiencies" class="control-label col-xs-3">Minor Deficiencies</label>
                    							<div class="col-xs-9">
                    								<input type="text" class="form-control" id="iacuc_minor2_deficiencies" placeholder="Minor Deficiencies">
                    							</div>
                    						</div>
                    						<div align="center">
                    						<button type="button" class="btn btn-primary" id="Inspection_Submit_Building">Submit</button>
                    						</div>
                    					</form>
                    				</div>
                    			</div>
                    		</div>
                    	</form>
				  </div>
				 <!-- <div class="modal-footer">-->
					<!--<button type="button" class="btn btn-primary" id="refresh_page" data-dismiss="modal">Done</button>-->
				 <!-- </div>-->
			  </div>
			</div>
		  </div>
		</div>
	</div>

</div>
	{% endblock %}

{% block Inspection %} class="panel-collapse collapse in" {% endblock %}
{% block imports %} <script type = "text/javascript" src="{{url_for('static', filename= 'js/inspection_list_scripts.js')}}"></script>{% endblock %}
</body>
</html>
